<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duxl.viewpagerindicator.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Demo1Activity"
            android:label="单独使用Indicator（tab平分空间）">
            <intent-filter>
                <action android:name="com.duxl.viewpagerindicator.demo.Action" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Demo1_1Activity"
            android:label="单独使用Indicator（tab左对齐）">
            <intent-filter>
                <action android:name="com.duxl.viewpagerindicator.demo.Action" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Demo1_2Activity"
            android:label="单独使用Indicator（tab居中对齐）">
            <intent-filter>
                <action android:name="com.duxl.viewpagerindicator.demo.Action" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Demo2Activity"
            android:label="和ViewPager配合使用">
            <intent-filter>
                <action android:name="com.duxl.viewpagerindicator.demo.Action" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Demo3Activity"
            android:label="背景色样式">
            <intent-filter>
                <action android:name="com.duxl.viewpagerindicator.demo.Action" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Demo4Activity"
            android:label="下划线样式（等于tab宽度）">
            <intent-filter>
                <action android:name="com.duxl.viewpagerindicator.demo.Action" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Demo5Activity"
            android:label="下划线样式（固定tab宽度）">
            <intent-filter>
                <action android:name="com.duxl.viewpagerindicator.demo.Action" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Demo6Activity"
            android:label="下划线样式（等于文字宽度）">
            <intent-filter>
                <action android:name="com.duxl.viewpagerindicator.demo.Action" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Demo7Activity"
            android:label="完全自定义效果">
            <intent-filter>
                <action android:name="com.duxl.viewpagerindicator.demo.Action" />
            </intent-filter>
        </activity>
    </application>

</manifest>